<!-- webApplicationDevelopment - assignmetn1
Student Name: Li Ying Lam
Student ID:301246753 
Date: Jun 10 2023  -->
<nav>
  <div class="nav">
    <img src="../assets/icon.jpg" alt="" />
    <a routerLink="/">Home </a>
    <a routerLink="/about">About Me</a>
    <a routerLink="/projects">Projects</a>
    <a routerLink="/services">Services</a>
    <a routerLink="/contact">Contact Me</a>
    <a *ngIf="!isLoggedIn" routerLink="/login">Login</a>
    <a (click)="logout()" *ngIf="isLoggedIn" routerLink="/login">Logout</a>
    <a *ngIf="isLoggedIn" routerLink="/admin">Business</a>
    <!-- <a routerLink="/admin">Admin</a> -->
  </div>
</nav>
<div><router-outlet></router-outlet></div>
