/* 
webApplicationDevelopment - assignmetn1
Student Name: Li Ying Lam
Student ID:301246753 
Date: Jun 10 2023 */
nav {
  background-color: black;
  height: 60px;
  color: white;
  padding-bottom: 10px;
}

a {
  width: 100px;
  text-align: center;
  padding-bottom: 10px;
}

a:link {
  text-decoration: none;
  color: rgb(227, 182, 227);
}

a:hover {
  color: white;
  border-bottom: 2px solid purple;
}

img {
  border-radius: 50%;
  width: 50px;
  margin-top: 10px;
}

.nav {
  display: flex;
  font-size: large;
  align-items: flex-end;
  justify-content: flex-end;
}
