<!-- webApplicationDevelopment - assignmetn1
Student Name: Li Ying Lam
Student ID:301246753 
Date: Jun 10 2023  -->

<!-- background image of banner -->
<div class="banner"></div>
<!-- Page tittle -->
<h1>Services</h1>
<!-- Using CSS Flexbox Design -->
<div class="services-container">
  <!-- service1 -->
  <div class="services-section">
    <fa-icon [icon]="faCode"></fa-icon>
    <h3>General Programming</h3>
  </div>
  <!-- service2 -->
  <div class="services-section">
    <fa-icon [icon]="faMobileScreenButton"></fa-icon>
    <h3>Mobile Apps</h3>
  </div>
  <!-- service3 -->
  <div class="services-section">
    <fa-icon [icon]="faWindowMaximize"></fa-icon>
    <h3>Web Design</h3>
  </div>
</div>
