<!-- update.component.html -->
<div class="update-container">
  <div class="update-content">
    <div class="update-detail">
      <h2>Update Contact</h2>

      <form [formGroup]="updateForm" (ngSubmit)="updateContact()">
        <div>
          <label for="name">Name:</label>
          <input type="text" id="name" formControlName="name" />
        </div>
        <div>
          <label for="contactNumber">Contact:</label>
          <input
            type="text"
            id="contactNumber"
            formControlName="contactNumber"
          />
        </div>
        <div>
          <label for="email">Email:</label>
          <input type="email" id="email" formControlName="email" />
        </div>
        <button type="submit">Confrim</button>
        <button class="cancel" type="button" (click)="cancel()">Cancel</button>
      </form>
      <!-- Display the contact details if available -->
      <div class="contact-detail" *ngIf="selectedContact">
        <h3>Contact Details</h3>
        <p>Name: {{ selectedContact.name }}</p>
        <p>Contact Number: {{ selectedContact.phone }}</p>
        <p>Email: {{ selectedContact.email }}</p>
      </div>
    </div>
  </div>
</div>
