<!-- webApplicationDevelopment - assignmetn1
Student Name: Li Ying Lam
Student ID:301246753 
Date: Jun 10 2023  -->

<!-- header -->
<h1>My Projects</h1>
<!-- Using CSS Flexbox to design -->
<div class="project-container">
  <!-- prject1 -->
  <div class="project-section">
    <div><img src="../assets/guessMynumber.png" alt="" /></div>
    <div class="project-describe">
      <p>Guess Number Game</p>
      <p>It is a simple game for fun to play and guess the number.</p>
      <p>
        I did it my own and followed <br />
        the online course instructor
      </p>
    </div>
  </div>
  <!-- prject2 -->
  <div class="project-section">
    <div><img src="../assets/toDoList.png" alt="" /></div>
    <div class="project-describe">
      <p>To Do List</p>
      <p>
        It is used to arrange the <br />task. User can create, <br />update or
        delete the task
      </p>
      <p>I did it for learning CRUD <br /></p>
    </div>
  </div>
  <!-- prject3 -->
  <div class="project-section">
    <div><img src="../assets/recordExpense.png" alt="" /></div>
    <div class="project-describe">
      <p>Record Expense</p>
      <p>
        Offering the recording build the good habit to track their daily
        expenses
      </p>
      <p>I learnt the basics of JS.</p>
    </div>
  </div>
</div>
